body  {
	background: black;
	font-size: 50px;
	color: red;
}
h1 {
	color: green;
}
.header {
	font-family: Helvetica;

}
.header:hover {
	color: brown;
}
#i2 {
	font-size: 100px;
	color: pink;
}
#i2:hover {
	color: blue;
}
a {
	text-decoration: none;
	color: green;
}
.socio {
	font-size: 100px;
	opacity: 0.5;
}
.socio:hover {
	opacity: 1;
}
